.body{
  width: 100%;
}
.boxskotami{
    display: flex;
    border: solid 5px rgb(229, 133, 248);
    height: 31rem;
    border-radius: 1rem;
}
h1{
    
    margin-bottom: 2rem;
    border: solid rgb(229, 133, 248) 5px;
    width: 25rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(215, 75, 250) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    position: relative;
    animation-name: move; /* Название анимации */
    animation-duration: 1s; /* Продолжительность анимации */
    animation-timing-function: ease-in-out; /* Функция изменения скорости */
    animation-fill-mode: forwards; /* Оставить элемент в конечном состоянии после завершения анимации */
}

@keyframes move {
from {
  left: 0;
}

to {
  left: 40%;
}
}
.perviekoti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.otstup{
    margin-right: 12rem;
    width: 100%;
}
.otstup2{
  border: solid 5px rgb(229, 133, 248);
  margin-top: 1rem;
  display: flex;
  border-radius: 10px;
  height: 62rem;
  width: 100%;
}
.otstup3{
  display: flex;
  border: solid 5px rgb(229, 133, 248);
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}
.otstup4{
  display: flex;
  border: solid 5px rgb(229, 133, 248);
  border-radius: 10px;
  margin-top: 20px;
  height: 31rem;
  width: 100%;
}
.otstup5{
  display: flex;
  border: solid 5px rgb(229, 133, 248);
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
}
.otstup6{
  display: flex;
  border: solid 5px rgb(229, 133, 248);
  border-radius: 10px;
  margin-top: 1rem;
  height: 31rem;
  width: 100%;
}
.otstup7{
  display: flex;
  border: solid 5px rgb(229, 133, 248);
  border-radius: 10px;
  margin-top: 20px;
  height: 31rem;
  margin: 0 auto;
  width: 31rem;
}